{% extends 'flatpages/default.html' %}
{% load censor %}
{% load custom_tags %}

{% block title %}
Post
{% endblock title %}

{% block content %}
    <h1>Все новости и статьи категории {{ category }}</h1>
    <h3>Количество новостей:{{ category_post_list|length }}</h3>
    <h3>{% current_time '%b %d %Y' %}</h3>
        {% if is_not_subscriber %}
            <p class="text-center"><a href="{% url 'subscribe' category.id %}" class="button secondaryAction">Подписаться</a></p>
        {% endif %}
        {% if not is_not_subscriber %}
            <p class="text-center"><a href="{% url 'unsubscribe' category.id %}" class="button secondaryAction">Отписаться</a></p>
        {% endif %}
    <hr>
    {% if category_post_list %}
        <table>
            <tr>
                <td><u>Заголовок</u></td>
                <td><u>Категория</u></td>
                <td><u>Время публикации</u></td>
                <td><u>Описание</u></td>
            {% for i in category_post_list %}
            </tr>
            <tr>
                <td>{{ i.title|censor }}</td>
                <td>
                    {% for category in i.category.all %}
                        <a href="{% url 'category_list' category.id %}">{{ category }}</a>
                    {% endfor %}
                </td>
                <td>{{ i.date_in|date:'d M Y' }}</td>
                <td>{{ i.text|truncatewords:20|censor }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Нет новостей</h2>
    {% endif %}

    {# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
    {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
    {% endif %}

     {# Информация о текущей странице #}
    {{ page_obj.number }}

    {# Информация о следующих страницах #}
    {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
   {% endif %}
{% endblock content %}
