{% extends 'flatpages/default.html' %}
{% load custom_tags %}

{% block title %}
Post
{% endblock title %}

{% block content %}
    <h1> Новость c идентификатором №{{ post_id.id }}</h1>
    <h3>{% current_time '%b %d %Y' %}</h3>
    <hr>
        <table>
            <tr>
                <td><u>Заголовок</u></td>
                <td><u>Время публикации</u></td>
                <td><u>Описание</u></td>
            </tr>
            <tr>
                <td>{{ post_id.title }}</td>
                <td>{{ post_id.date_in|date:'d M Y' }}</td>
                <td>{{ post_id.text}}</td>
            </tr>
        </table>
{% endblock content %}